@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome bij Snackbar Frikandel</h1>
    <p>Kom gezellig frietjes of snacks bij Snackbar Frikandel eten!</p>
</div>
